@font-face {
  font-family: EightBitMadness;
  src: url('assets/8-bit-madness.ttf');
}

body {
  background-color: #333;
}

.config-btn {
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  z-index: 1;
  opacity: 0.3;
}

.scene {
  position: relative;
  width: 100%;
  height: 0;
  padding: 56.25% 0 0 0;
  background-image: url('assets/animation_clouds.svg');
  background-image: url('assets/animation_clouds.svg'),
    linear-gradient(to bottom, #4b63ff 0%, #4b63ff 79%, #333333 79%, #333333 100%);
  background-size: contain;
}

@keyframes bg-move {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -98vw 0;
  }
}

.character {
  height: 40%;
  width: 167.45vh;
  margin: 0 0;
  /* background-image: url('assets/animationsprite_walk.svg'); */
  background-image: url('assets/sprites_walk.svg');
  background-position: 57.14% 0;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  bottom: 20%;
  left: 30%;
}

.power-bars {
  color: #eee;
  font-family: EightBitMadness, 'Lucida Console', Monaco, monospace;
  position: absolute;
  top: 2vmax;
  left: 2vmax;
  width: 25%;
}

.power-bars__text {
  font-size: 2.5vmax;
  text-transform: uppercase;
  text-shadow:
    -0.15vmax -0.15vmax 0 #2d3d4d,
    0.15vmax -0.15vmax 0 #2d3d4d,
    -0.15vmax 0.15vmax 0 #2d3d4d,
    0.15vmax 0.15vmax 0 #2d3d4d;
}

.power-bar {
  font-size: 0.7vmax;
  background-color: #1e2530;
  border: 1em solid #101821;
  margin-bottom: 1vmax;
  width: 100%;
  height: 4em;
  box-shadow: 0px -1em 0px 0px #2d3d4d,
     0px 1em 0px 0px #2d3d4d,
      1em 0px 0px 0px #2d3d4d,
      -1em 0px 0px 0px #2d3d4d;
}

.power-bar__progress {
  width: 10%;
  height: 100%;
  background: #82f734;
  background: linear-gradient(to bottom, #2afe2f 0%, #2afe2f 30%, #1cbc21 30%, #1cbc21 100%);
}

.power-bar--yellow .power-bar__progress {
  background: linear-gradient(to bottom, #f5c946 0%, #f5c946 30%, #f4a327 30%, #f4a327 100%);
}

.power-bar--animate .power-bar__progress {
  animation: animFill 1.8s steps(4) alternate infinite;
}

.power-bar--animate-yellow .power-bar__progress {
  animation: animLow 1.8s steps(3) alternate infinite;
}

@keyframes animFill {
  0% {
    width: 60%;
  }
  50% {
    width: 80%;
  }
  100% {
    width: 90%;
  }
}

@keyframes animLow {
  0% {
    width: 20%;
  }
  60% {
    width: 45%;
  }
  100% {
    width: 30%;
  }
}